# Ignore everything
*

# But do NOT ignore folders
!*/

# Keep .gitignore tracked
!.gitignore

# Allow Jupyter notebooks
!*.ipynb

# Allow README
!README.md
!README.MD
!readme.md

# Allow requirements file
!requirements.txt
!*.requirements.txt

# Allow app.py or any API file
!*.py

# Allow CSV dataset (optional — remove if you don't want to upload data)
!*.csv
